@import "tailwindcss";

@theme {
    --color-background: #031737;
    --color-sidebar: #00121b;
    --color-text: #ebf1ff;
    --color-muted: #8d8c8c;
    --color-accent: #FFFFFF;
    --color-button: #000c3a;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #1481b000;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 100vh;
    /* border: 3px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}